.events-page-content {
    background-color: #fff;
    padding: 1% 1% 0;
    border-radius: 5px;
}

.temp {
    display: block;
}

.temp h2, .temp h3, .temp p {
    display: inline-block;
    margin-right: 10px;
}

@media only screen and (max-width: 550px) {
    .events-page-content {
        padding: 20px 2% 0;
    }
}