.form-buttons {
    display: block;
    position: relative;
    height: 60px;
}

.save-buttons-container, .delete-button-container {
    display: inline-block;
    position: absolute;
    width: 100%;
}

.delete-button-container {
    text-align: right;
}

.save-button {
    margin-top: 20px;
    background-color: #008000 !important;
    border-color: #008000 !important;
    margin-right: 20px;
}

.delete-button {
    margin-top: 20px;
    background-color: #D11A2A !important;
    border-color: #D11A2A !important;
}

