.form-buttons {
    display: block;
    position: relative;
    height: 60px;
}

.save-buttons-container, .delete-button-container {
    display: inline-block;
    position: absolute;
}

.save-buttons-container {
    width: 86%;
    margin-right: 14%;
}

.delete-button-container {
    text-align: right;
    margin-left: 86%;
    width: 14%;
}

.save-button {
    margin-top: 20px;
    background-color: #008000 !important;
    border-color: #008000 !important;
    margin-right: 20px;
}

.delete-button {
    margin-top: 20px;
    background-color: #D11A2A !important;
    border-color: #D11A2A !important;
}

.event_form div input, .event_form div textarea, .event_form div select {
    margin-bottom: 10px;
}

#form-event_name, #form-event_summary, #form-signup_url {
    width: 70%;
}

#form-event_category, #form-event_date, #form-event_start, #form-event_end,
#form-event_type, #form-event_image, #form-S_o_S {
    width: fit-content;
    padding-right: 500px;
}

@media only screen and (max-width: 550px) {
    .delete-button-container {
        margin-left: 77%;
        width: 23%;
    }
}

