.function-bar {
    background-color: #5b0d28;
    height: 64px;
    display: grid;
    grid-template-columns: 97% 3%;
    margin-left: 64px;
}

.round-out-inner-corner {
    position: absolute;
    height: 66px;
    width: 66px;
    background-color: #5b0d28;
    margin-left: -64px;
    border-radius: 5px;
}

.logo {
    margin-left: 1%;
    margin-top: 10px;
}

.logo-text {
    color: #fff;
}

@media only screen and (max-width: 1500px) {
    .function-bar {
        grid-template-columns: 94% 6%;
    }
}

@media only screen and (max-width: 1000px) {
    .function-bar {
        grid-template-columns: 91% 9%;
    }
}

@media only screen and (max-width: 750px) {
    .function-bar {
        grid-template-columns: 90% 10%;
    }
}

@media only screen and (max-width: 550px) {
    .function-bar {
        width: 100%;
        position: absolute;
        display: inline-flex;
        z-index: 100;
        top: 0;
        left: 64px;
    }

    .round-out-inner-corner {
        display: none;
    }

    .logo {
        text-align: center;
        width: 49%;
    }

    .logo-text {
        margin-top: 6px;
    }

    .logout {
        position: absolute;
        right: 28%;
        font-size: 40px !important;
    }

}