.function-bar {
    background-color: #5b0d28;
    height: 64px;
    display: grid;
    margin-left: 64px;
}

.round-out-inner-corner {
    position: absolute;
    height: 66px;
    width: 66px;
    background-color: #5b0d28;
    margin-left: -64px;
    border-radius: 5px;
}

.logo {
    margin: 13px 0 0 10px;
}

.logo-text {
    color: #fff;
}

.logout {
    position: absolute;
    right: 15px;
    font-size: 40px !important;
}

@media only screen and (max-width: 550px) {
    .function-bar {
        width: 100%;
        position: absolute;
        display: inline-flex;
        z-index: 100;
        top: 0;
        /*left: 64px;*/
        /*margin-left: 0;*/
    }

    .round-out-inner-corner {
        display: none;
    }

    .logo {
        position: absolute;
        width: 100%;
        margin: 10px -5px;
    }

    .logo-text {
        margin-top: 6px;
    }

    .logout {
        right: 70px;
    }

}