.page-header {
    background-color: #fff;
    border-radius: 5px;
    padding: 0 2% 1px;
    margin-bottom: 8px;
    text-align: center;
}

.heading-container {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0 10px 5px;
}

.page-header p {
    margin-left: 7px;
    text-decoration-line: underline;
    color: blue;
    margin-bottom: 0;
}

.page-heading {
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: -3px;
}

.back-arrow {
    font-size: 50px;
    display: inline-block;
}

.back-arrow:hover {
    font-size: 55px;
    cursor: pointer;
}