.search-box {
    padding: 13px;
    width: 100%;
}

.search-icon, .search-area {
    display: inline-block;
}

.search-area {
    width: 75%;
}

.search-icon {
    font-size: 22px;
    margin-right: 15px;
    color: #fff;
}

