.App {
  height: 100%;
  min-height: calc(100vh - 64px);
}

.login-background {
  height: available;
  background-color: #f1dada;
}

.page-container {
  background-color: #efefef;
  margin-left: 64px;
  height: 100%;
  min-height: calc(100vh - 64px);
  padding: 1%;
  transition: margin-left;
  transition-duration: 0.2s;
}

.page-content {
  background-color: #fff;
  padding: 1% 2% 0;
  border-radius: 5px;
}


.sub-heading {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  padding-bottom: 20px;
}

.save-button {
  margin-top: 20px;
  background-color: #008000 !important;
  margin-right: 20px;
}

.delete-button {
  margin-top: 20px;
  background-color: #D11A2A  !important;
}

@media only screen and (max-width: 550px) {
  .page-container {
    margin-left: 0 !important;

  }

  .save-heading {
    text-align: center;
  }
}
