.page-content {
  background-color: #efefef;
  margin-left: 64px;
  height: 100%;
  min-height: 364px;
  padding: 1%;
}

@media only screen and (max-width: 550px) {
  .page-content {
    margin-left: 0;
  }
}